$primary-color: #2b56ce;
$second-color: #94a9e2;
$tertiary-color: #d12727;
$background-color: #2a2b2a;
$menu-color: #ced5d6;
$menu-line: #AFB5AE;
$bg-cards: #242524;
$border-cards: #191a19;
$footer-text: #616161;